<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881804880319-gc48ocdujkfmiquupmom6q46gb31kbpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881804880319-gc48ocdujkfmiquupmom6q46gb31kbpl</string>
	<key>API_KEY</key>
	<string>AIzaSyA5QLq9l6cdnvsZLMAs11tBIsepphNX18s</string>
	<key>GCM_SENDER_ID</key>
	<string>881804880319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>drkh-n.AmericanSpace-App</string>
	<key>PROJECT_ID</key>
	<string>americanspacetest</string>
	<key>STORAGE_BUCKET</key>
	<string>americanspacetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881804880319:ios:d11214d40249a97a82d90a</string>
</dict>
</plist>